<header>
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <!--logo end
                <a routerLink="/home" routerLinkActive="active"><img src="../../assets/images/logo/mini-logo.png" alt=""></a>
                    -->
            </div><!--logo end-->
            <nav>
                <ul>
                    <li>

                        <a routerLink="/home" routerLinkActive="active">
                            <span><i class="fas fa-home"></i></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/interest" routerLinkActive="active">
                            <span><i class="far fa-object-group"></i></span>
                            Interest
                        </a>
                    </li>
                    <li>

                        <a routerLink="/event" routerLinkActive="active">
                            <span><i class="far fa-calendar-alt"></i></span>
                            Events
                        </a>
                    </li>
                    <li>
                        <a routerLink="/myprofile" routerLinkActive="active">
                            <span><i class="far fa-user"></i></span>
                            My Profile
                        </a>
                    </li>
                </ul>
            </nav><!--nav end-->
            <div class="menu-btn">
                <a title=""><i class="fa fa-bars"></i></a>
            </div><!--menu-btn end-->
            <div class="user-account">
                <div class="user-info">
                    <button>
                        <a style="color:'#005293'; margin: 5px;" (click)="logout()">Logout</a></button>
                </div>
            </div>
        </div><!--header-data end-->
    </div>
</header><!--header end-->
